{% extends 'base.html' %}
{% import 'macros.html' as macros%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Home
{% endblock %}

{% block content %}
    {% if username %}
        <h1>Welcome {{ username | capitalize}} </h1>
    {% endif %}

    <ul class="list-group">
        {% for task in tasks %}
            {{ macros.render_lists(task, delete_form) }}
        {% endfor %}
    </ul>

    <div class="container">
        <h4>Create new task</h4>

        {{ wtf.quick_form(task_form) }}
    </div>
{% endblock %}